h1 {
    text-align: center;
    color: #de1e3a;
    font-weight: bold;
    margin-bottom: 100px;
    width: 200vh;
    font-size: 300%;
    margin-left: 15%;
    margin-right: 2%;


}

#follow:hover {
    background-color: #de1a39;
    font-family: Verdana;
    font-weight: bold;
    color: white
}
h3 {
    font-weight: bold;
    margin-top: unset;



}
h4 {
    font-weight: bold;
    margin-left: 5%;
    margin-bottom: 10%;

}

body {
    font-family: Verdana;



}


img { width: 100%; height: auto }


#profilbildausgabe {

    width: auto;
    height: auto;
    float: left;
    margin-left: 5%;
    margin-bottom: 10%;


}

.info{

    float: left;
    position: relative;
    margin-bottom: 40px;
    width: 20%;
    height: auto;
    margin-left: 1%;
    background-color: #c6c6c6;
    padding: 10px;

}

.posts {

    background-color: rgba(255, 43, 66, 0.22);
    margin-bottom: 20px;
    padding: 10px;
    height: auto;
    width: 500px;
    text-align: center;
    border-radius: 3%;
    margin-left: 50%;
    font-family: Verdana;
}


.postings{


    margin-left: 50%;
}

form{

    margin-left: 10%;
    position: relative;
    height: auto;

}

h5 {
font-weight: bold;
    font-size: 20px;
    font-family: Verdana;
    margin-left: 30%;


}