body {
    background-color:white;
}


h2 {text: align:center;}





div {border-bottom-left-radius: 2px;
 color: black;}
ul {color: #de1a39;
 border: 2px;
}


.deinprofil {

  font-family: Verdana;

    color: black;
float: left;

}