body {
    background-color:white;
}


h2 {text: align:center;}
div {border-bottom-left-radius: 2px;
 color: whitesmoke;}

fieldset {
    padding: 10px;
    font: 80%/1 sans-serif;
}

div class {
    color: black;
    padding: 10px;
    font: 100%/1 sans serif;

}