body{background-image: url("hdm_login5.png");

    background-repeat:no-repeat;
    background-position: center;
    background-size: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Farbname*/
h1 { color: #c9302c;}
h2 { color: #c9302c;}
h3 { color: white;}

textarea {
width: 400px;
height: 300px;
}

header{