body{background-image: url("hdm_login5.png");

    background-repeat:no-repeat;
    background-position: center;
    background-size: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {     width: 40%;
            padding: 12px 20px;
           margin: 8px 0;
           box-sizing: border-box;
       }


