body {

  background-color: white;
    font-family: Verdana;
   min-width: 100%;
    min-height: 100%;




}


h1 {
    width: 200vh;
    font-size: 400%;
    color: #de1e3a;
    font-weight: bold;
    text-align: center;
    margin-bottom: 100px;

}



.upload {

    margin-left: 30px;
    margin-bottom: 30px;
    margin-right: 30px;

    float: left;
}


.info {

    float: left;
    position: relative;
    margin-bottom: 40px;

}


.posts {
    float: right;
    background-color: rgb(179, 179, 179);
    margin-bottom: 20px;
    border: 10px;
    position: relative;
    height: auto;
    width: auto;
    text-align: center;
    margin-right: 40%;
    padding: 15px;
    border-radius: 3%;



}


h3 {
    font-weight: bold;
    margin-left: 43%;
    border-bottom-color: rgba(0, 0, 0, 0.68);
    border-bottom: 2px;


}

h5 {

    font-weight: bold;
    font-size: 25px;
}


input:hover { background-color: #de1a39;
    font-family: Verdana;
    font-weight: bold;
    color: white;

}

#alleinfos {

    margin-top: 30px;
    height: auto;
    width: auto;
    background-color: rgb(179, 179, 179);
    margin-bottom: 20px;
    border: 10px;
    text-align: center;
    margin-right: 40%;
    padding: 15px;
    border-radius: 3%;


}

h4 {

    font-weight: bold;
    border-bottom-color: rgba(0, 0, 0, 0.68);
    border-bottom: 2px;
}


