body {

  background-color: white;
    font-family: Verdana;
   min-width: 100%;
    min-height: 100%;




}

.profilseite {


    justify-content: center;

}

h1 {
    width: 200vh;
    font-size: 400%;
    color: #de1e3a;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;

}

div {

    float: left;


}






.upload {

    margin: 30px;
    padding-left: 30px;
    float: left;
}


.info {



    margin-top: 300px;

}


.posts {

    border: black;
    border: 15px;
    width: max-content;
    background-color: rgba(69, 69, 68, 0.31);
    height: max-content;
    padding: 50px;
    border-radius: 10px;
    text-align: center;
    margin-left: 10%;
}


h3 {
    font-weight: bold;


}

h4 {

    font-weight: bold;
}



